/* background-color: rgb(191, 227, 199); */
/* background-color: rgb(164, 220, 176); */
/* rgb(109, 160, 124) */

.App {
  text-align: center;
  background-color: rgb(159, 210, 171);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Bookman, URW Bookman L, serif';
  color: black
}

li, p {
  font-size: 2.8vh;
  color:rgb(165, 100, 60)
}

label {
  font-size: 2.5vh;
  font-weight: 550;
}

h2 {
  font-size: 4.5vh;
  text-decoration: underline;
  text-decoration-color: rgb(165, 100, 60);
  text-decoration-thickness: .333vh;
}

h3 {
  font-size: 3vh;
  text-decoration: underline;
}

/* .bathroom_info {
  padding: 0vh 0vw 0vh 0vw;
} */

.bathroom_info li {
  color: rgb(165, 100, 60)
}

.bathroom_info h2 {
  padding: 0vh 0vw 0vh 6.8vw;
}

.review {
  padding: 0vh 3vw 3vh 3vw;
  position: relative;
}

.review p{
  color: black;
}

.review h3 {
  color:rgb(165, 100, 60);
  text-decoration: none;
  font-weight: normal;
}

#header {
  position: relative;
  border: .75vh solid;
  border-color: rgb(165, 100, 60);
}

#header h2 {
  font-size: 5.4vh;
  padding: 2.2vh 0vh 0vh 0vh;
  margin: 0vh 0vh 1.25vh 0vh;
  color: #cbb63c;
  text-decoration: none;
  -webkit-text-stroke: .06vh black;
}

#header h3 {
  font-size: 3.6vh;
  padding: 0vh 0vh 1.8vh 0vh;
  margin: 0px 0px 0px 0px;
  color: rgb(165, 100, 60);
  -webkit-text-stroke: .06vh black;
  text-decoration: none;
}

#bathroom_mode_button {
  position: fixed;
  font-size: 1.75em;
  font-weight: bold;
  bottom: 2vh;
  left: 2vh;
  width: 7vh;
  height: 7vh;
  border-radius: 30vh;
  color: #eed85c;
  border-color: rgb(137, 84, 51);
  background-color: rgb(165, 100, 60);
  padding: 0vh 0vw .5vh 0vw;
}

#place_new_bathroom_button {
  position: fixed;
  font-size: 1em;
  font-weight: bold;
  bottom: 2.25vh;
  left: 11vh;
  width: 33%;
  /* height: 7vh; */
  border-radius: 4px;
  color: #eed85c;
  border-color: rgb(137, 84, 51);
  background-color: rgb(165, 100, 60);
  padding: .3vh 0vw .3vh 0vw;
}

#google_map_component_holder {
  position: relative;
  flex: 1;
}

textarea {
  font-size: 2.8vh;
  color: black;
}

textarea:focus {
  outline: none !important;
  border: 3px solid #eed85c;
  border-radius: 5px;
}

::placeholder { 
  font-size: 2.2vh;
}

input[type="submit"] {
  font-size: 2.5vh;
  font-weight: bolder;
  background-color: #eed85c;
  border-color:rgb(165, 100, 60);
  border-radius: 8px;
  width: 75%;
  padding: 2.2vh 0vw 2.2vh 0vw;
  position: relative;
  left: 12.5%;
}

#see_and_leave_reviews_buttons_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center
}

.reviews_buttons {
  font-size: 2.5vh;
  font-weight: bolder;
  background-color: #eed85c;
  border-color:rgb(165, 100, 60);
  border-radius: 8px;
  width: 75%;
  padding: 1.8vh 0vw 1.8vh 0vw;
  margin: 0vh 0vw 2vh 0vw;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}