/* background-color: rgb(191, 227, 199); */
/* background-color: rgb(164, 220, 176); */

.App {
  text-align: center;
  background-color: rgb(159, 210, 171);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Bookman, URW Bookman L, serif';
}

li, p {
  font-size: 2.8vh;
  color: rgb(131, 190, 149);
}

label {
  font-size: 2.1vh;
  font-weight: bold;
  color: rgb(131, 190, 149);
}

h2 {
  font-size: 4.5vh;
  color: rgb(131, 190, 149);
  -webkit-text-stroke: .08vh black;
}

h3 {
  font-size: 3vh;
  color: rgb(131, 190, 149);
  text-decoration: underline;
}

.bathroom_info {
  /* color: rgb(119, 176, 134); */
  padding: 0vh 3vw 0vh 0vw;
  /* -webkit-text-stroke: .02vh black; */

}

.bathroom_info h2 {
  /* color: rgb(119, 176, 134); */
  padding: 0vh 0vw 0vh 6.8vw;
  /* -webkit-text-stroke: .06vh black; */
}

.review {
  /* color: rgb(85, 136, 96); */
  padding: 0vh 3vw 3vh 3vw;
}

.review h2 {
  /* color: rgb(133, 199, 149); */
  /* -webkit-text-stroke: .06vh black; */

}

#header {
  position: relative;
  border: .75vh solid;
  border-color: rgb(160, 95, 55)
}

#header h2 {
  font-size: 5.4vh;
  padding: 2.2vh 0vh 0vh 0vh;
  margin: 0vh 0vh 1.25vh 0vh;
  color: #cbb63c;
  -webkit-text-stroke: .06vh black;
}

#header h3 {
  font-size: 3.6vh;
  padding: 0vh 0vh 1.8vh 0vh;
  margin: 0px 0px 0px 0px;
  color: rgb(165, 100, 60);
  -webkit-text-stroke: .06vh black;
  text-decoration: none;
}

#bathroom_mode_button {
  position: fixed;
  font-size: 1.75em;
  bottom: 2vh;
  left: 2vh;
  width: 7vh;
  height: 7vh;
  border-radius: 30vh;
  color: #e9d24d;
  border-color: rgb(160, 95, 55);
  background-color: rgb(160, 95, 55);
}

#google_map_component_holder {
  position: relative;
  flex: 1;
}